/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #f6f8f9;
}

.check::before{
  color: green;
  content: '✓';
  height: 20px;
  width: 20px;
  display: inline-block;
  border: 1px solid green;
  border-radius: 50%;
  margin: 5px 10px 0 10px;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
}

.cross::before{
  color: red;
  content: '✗';
  height: 20px;
  width:20px;
  display: inline-block;
  border: 1px solid red;
  border-radius: 50%;
  margin: 5px 10px 0 10px;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
}




/* header */

.logo{
  display: inline-block;
}

header{
  display: flex;
  font-size: 2rem;
  align-items: center;
  height: 150px;
  background-color: white;
}

header img{
  vertical-align: middle;
  width: 100px;
  height:100px;
  margin-left: 30px;
}
/* /header */


/* main */

/* container */
.container{
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  margin-top: 50px;
  border-radius: 5px 5px 0px 0px;
}

.container-2{
  max-width: 1200px;
  height: 650px;
  margin: 0 auto;
  background-color: white;
  padding: 40px;
  margin-top: 5px;
  border-radius: 0px 0px 5px 5px;
}

p{
  display: inline-block;
}

.task{
  background-color: #47adf1;
  padding: 10px;
  border-radius: 5px;
  margin-left: 50px;
  color: white;
}

.section{
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 10px;
  margin-left: 3px;
  color: lightgray;
}


.lista{
  font-size: 26px;
  margin-left: 30px;
  margin-top: 10px;
}

li{
  list-style: none;
}

nav ul{
  margin: 10px;
  margin-left: 35px;
  font-size: 20px;
  padding: 5px;
}
/* /container */


/* Hashtags */
.editorial{
  padding: 10px 10px;
  background-color: #47adf1;
  border-radius: 20px;
  color: white;
  font-size: 15px;
}

.recruiting{
  background-color: #9c72e4;
  padding: 10px 10px;
  border-radius: 20px;
  color: white;
  font-size: 15px;
}

.mobile{
  padding: 10px 10px;
  background-color: #f29e33;
  border-radius: 20px;
  color: white;
  font-size: 15px;
}


.website{
  background-color: #d863a1;
  padding: 10px 10px;
  border-radius: 20px;
  color: white;
  font-size: 10px;
}

.sales{
  background-color: #b0c926;
  padding: 10px 10px;
  border-radius: 20px;
  color: white;
  font-size: 15px;
}

/* /Hashtags */
/* main */


