/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Times New Roman', Times, serif;
  background-color: lightgrey;
}


/* header */

.logo h1{
  display: inline-block;
  font-size: 4rem;
  margin-top: 20px;
}

header{
  height: 150px;
  background-color: white;
}

header img{
  vertical-align: middle;
  width: 100px;
  height:100px;
  margin: 20px 30px;
}

/* main */
.container{
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  margin-top: 50px;
  border-radius: 5px 5px 0px 0px;
}

p{
  display: inline-block;
}

.task{
  background-color: #47adf1;
  padding: 10px;
  border-radius: 5px;
  margin-left: 50px;
  color: white;
}

.section{
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 10px;
  margin-left: 3px;
  color: lightgray;
}

.container-2{
  max-width: 1200px;
  height: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 40px;
  margin-top: 10px;
  border-radius: 0px 0px 5px 5px;
}

.lista{
  font-size: 26px;
  margin-left: 30px;
  margin-top: 20px;
}

li{
  list-style: none;
}

.check{
  color: green;
}

.editorial{
  padding: 5px 10px;
  background-color: #47adf1;
  border-radius: 10px;
  color: white;
}

nav ul{
  margin: 10px;
  margin-left: 35px;
  font-size: 20px;
}

.cerchio{
  border: 1px solid green;
  border-radius: 100%;
}

.recruiting{
  padding: 5px 10px;
  background-color: #9c72e4;
  border-radius: 10px;
  color: white;
}

.mobile{
  padding: 5px 10px;
  background-color: #f29e33;
  border-radius: 10px;
  color: white;
}

.cross{
  color: red;
}

.circle{
  border: 1px solid red;
  border-radius: 100%;
}